$liteflix-red: #FF0000;
$primary-font: 'Montserrat';

@mixin transition($in) {
	transition:$in;
	-webkit-transition:$in;
	-moz-transition:$in;
	-o-transition:$in;
	-ms-transition:$in;
}

.header-container {
    font-family: $primary-font;
    height: 42px;
    margin: 0px 165px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;

    img {
        margin-right: 20px;
    }

    a {
        color: #FFFFFF;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-decoration: none;
        align-self: center;
    }

    a:nth-child(2) { //Inicio
        font-weight: bold;
        margin-right: 17px;
    }

    a:nth-child(3) { //Series
        margin-right: 17px;
    }

    a:nth-child(4) { //Películas
        margin-right: 16px;
    }

    a:nth-child(5) { //Agregados recientemente
        margin-right: 13px;
    }

    a:nth-child(6) { //Mi Lista
        margin-right: 18px;
    }

    a:hover {
        opacity: 0.7;
    }

    .header-plus-icon {
        vertical-align: bottom;
        margin: 0px 11.5px;
		@include transition(all 0.3s ease);
    }

    .header-add-button {
        background-color: $liteflix-red;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 19px;
        border: none;
        height: 40px;
        border-radius: 30px;
        font-family: inherit;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        padding: 0px;

        span {
            position: absolute;
            white-space: nowrap;
            top: 10px;
            left: 40px;
        }

        &:hover {
            img {
                margin-right: 160px;
            }
        }
    }

    .header-search-section {
        height: 34px;
        width: 18px;
        margin-right: 15px;
        overflow: hidden;
        cursor: pointer;
        @include transition(all 0.3s ease);
    
        &:hover {
            width: 285px;
            border-bottom: 1px solid #4A4A4A;
        }
    }

    form {
        padding-top: 12px;
    }

    label {
        display: flex;

        img {
            margin-right: 8px;
        }

        input {
            font-family: $primary-font;
            width: 200px;
            background-color: transparent;
            border: none;
            color: #4A4A4A;
            font-size: 14px;
            line-height: 18px;
        
            &:focus {
                outline: none;
            }
        }
    }

    .header-secondary-container {
        display: flex;
        z-index: 1;

        a {
            font-weight: normal;
        }

        button {
            width: fit-content;
            height: fit-content;
            margin-right: 20px;
            align-self: center;
            background-color: transparent;
            padding: 0px;
            border: none;

            &:focus {
                outline: none;
            }
            
            img {
                margin: 0px;
                padding: 0px;
            }
        }
    }
    
    .header-user-container {
        display: flex;

        img:first-child {
            margin-right: 8px;
        }
        img:nth-child(2) {
            margin: 0px;
        }
    }

    .header-user-dropdown {
        position: absolute;
        right: 142px;
        top: 7px;
        margin-right: 0px;
        transform: scale(1)
    }
}