$primaryFont: 'Montserrat';
$formBlue: #0076FF;
$formGrey: #9B9B9B;
$inputLightGrey: #CCCCCC;
$submitButton: #DEDEDE;
$loadingContainerBackground: #F3F3F3;
$loadingBarColor: #7ED321;
$loadingActionButton: #4A4A4A;
$errorColor: #FF0000;

$loadingContainerWidth: 600px; 

.modal-file-drop {
    margin: 15px 0px 30px;
    font-family: $primaryFont;
    font-size: 16px;
    line-height: 19px;
    border: 1px dashed $formGrey;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 41px 100px 41px 100px;
    white-space: nowrap;
    color: $formGrey;
    display: flex;
    justify-content: center;

    img {
        width: 20px;
        margin-right: 5px;
    }

    span {
        color: $formBlue;
        font-weight: bold;
        margin-right: 5px;
    }

}

.modal-form {
    display: flex;
    font-family: $primaryFont;
    justify-content: space-between;

    label {
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 5px;
        line-height: 15px;
        color: $formGrey;
        text-transform: uppercase;
        width: 45%;
    }

    input, select {
        display: flex;
        width: 100%;
        border: none;
        background: none;
        border-bottom: 1px solid $inputLightGrey;
        height: 19px;
        color: #000000;
        font-size: 16px;
        line-height: 19px;
        padding: 10px 0px 5px 0px;

        &:focus {
            outline: none;
            border-bottom-color: $formBlue;
        }

        &::placeholder, select {
            color: $inputLightGrey;
        }
    }

    select {
        border: none;
        margin: 10px 0px 5px 0px;
        appearance: none;
        padding: 0;
        color: $inputLightGrey;
    }

    .modal-label-select {
        border-bottom: 1px solid $inputLightGrey;
    }

    .modal-input-filled {
        border-bottom: 1px solid #000000;
    }

    .modal-select-selected {
        color: #000000;
    }

    .modal-label-selected {
        border-bottom: 1px solid #000000;
    }

}

.modal-submit-button {
    margin: 43px 190px 0px;
    background-color: $submitButton;
    border-radius: 35px;
    height: 70px;
    width: 350px;
    border: none;
    font-family: $primaryFont;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.modal-loading-container {
    margin: 15px 0px 30px;
    font-family: $primaryFont;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 29px 15px 29px;
    justify-content: center;
    background-color: $loadingContainerBackground;

    .modal-loading-status {
        font-size: 12px;
        line-height: 15px;
    }

    .modal-loading-bar-container {
        background-color: $submitButton;
        height: 20px;
        width: 100%;
        border-radius: 30px;
        margin: 10px 0px;

        .modal-loading-bar {
            height: 20px;
            background-color: $loadingBarColor;
            z-index: 1;
            border-radius: 30px;
        }

        .modal-loading-bar-error {
            background-color: $errorColor;
        }
    }

    .modal-loading-action {
        position: relative;
        left: 45%;
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        color: $loadingActionButton;
        text-transform: uppercase;
        cursor: pointer;
    }
    
    .modal-loading-status-completed, .modal-loading-status-error span {
        font-weight: bold;
        color: #000000;
    }

    .modal-loading-status-error {
        font-size: 12px;
        line-height: 15px;
    }
}

.modal-submit-button-success {
    background-color: #000000;
}


